{
    "env": {
        "node": true,
        "jasmine": true,
        "mocha": true,
        "es6": true
    },
        "rules": {
            "global-require": 0,
            "arrow-body-style": 0,
            "object-shorthand": 0
        }
}
